* {
    margin: 0;
    padding: 0;
}
#container{
    width: 1000px;
    height: 1200px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
#Header{
    float: left;
    width: 1000px;
    height: 200px;
    background-color:rgb(8, 253, 241);
}
#Enc{
    position: relative;
    left: 400px;
    top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: red;
}
#Nav{
    float: left;
    width: 1000px;
    height: 100px;
    background-color:rgb(180, 253, 8);
}
#Men{
    position: relative;
    left: 450px;
    top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: red;
}
#Main{
    float: left;
    width: 800px;
    height: 750px;
    background-color:rgb(253, 77, 8);
}
#Cue{
    position: relative;
    left: 430px;
    top: 320px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: red;
}
#Aside{
    float: left;
    width: 200px;
    height: 750px;
    background-color:rgb(253, 249, 8);
}
#Lat{
    position: relative;
    left: 50px;
    top: 320px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: red;
}
#Footer{
    float: left;
    width: 1000px;
    height: 150px;
    background-color:rgb(24, 8, 253);
}
#pie{
    position: relative;
    left: 450px;
    top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: red;
}