* {
    margin: 0;
    padding: 0;
}
#container{
    width: 1000px;
    height: 1200px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
#Header{
    width: 1000px;
    height: 200px;
    background: url(https://cdn.pixabay.com/photo/2020/03/16/17/32/lorem-4937753_960_720.jpg);
}
#Enc{
    position: relative;
    left: 400px;
    top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(7, 82, 69);
}
#Nav{
    width: 1000px;
    height: 100px;
    background-color:rgb(160, 160, 160);
}
#Men{
    position: relative;
    left: 450px;
    top: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color:rgb(124,210,100);
}
#Main{
    width: 1000px;
    height: 750px;
    background-color:rgb(164, 165, 131);
}
.Cue{
    position: relative;
    left: 3px;
    top: 200px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255)
}
#Footer{
    width: 1000px;
    height: 150px;
    background-color:rgb(43, 167, 150);
}
#pie{
    position: relative;
    left: 300px;
    top: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(47, 153, 37);
}
#pie2{
    position: relative;
    left: 360px;
    top: 100px;
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
    color: rgb(37, 175, 49);

}
#sub{
    position: relative;
    left: 15px;
    top: 200px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(20, 7, 46);
    font-weight: bold;
    
}
.tit{
    position: relative;
    left: 3px;
    top:200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:45px;
    color: azure;
}
#img{
    position: relative;
    left: 850px;
    
}