* {
    margin: 0;
    padding: 0;
}
#container{
    width: 1000px;
    height: 1200px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
#Header{
    width: 1000px;
    height: 200px;
    background: url(https://pixabay.com/get/g4ddb6da79364e372a885808981894dc7e72098b37c4a768119c54d0259daef7cafd3a2e7e8e1e873ce08a9753d5b8a69_1280.jpg);
}
#Enc{
    position: relative;
    left: 350px;
    top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(202, 0, 0);
}
#Nav{
    width: 1000px;
    height: 100px;
    background-color:rgb(3, 63, 60);
}
#Men{
    position: relative;
    left: 350px;
    top: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(236, 238, 238);
    
    
}
#Main{
    width: 1000px;
    height: 750px;
    background-color:rgb(95, 107, 25);
}
.Cue{
    position: relative;
    left: 0px;
    top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(184, 184, 184)
}
#Footer{
    width: 1000px;
    height: 150px;
    background-color:rgb(88, 2, 105);
}
#pie{
    position: relative;
    left: 300px;
    top: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(175, 175, 175);
}
#pie2{
    position: relative;
    left: 360px;
    top: 100px;
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
    color: rgb(148, 148, 148);

}
#sub{
    position: relative;
    left: 50px;
    top: 200px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(105, 0, 0);
    font-weight: bold;
    
}
#tit{
    position: relative;
    left: 200px;
    top:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:45px;
    color: rgb(73, 0, 0);
}
#img{
    position: relative;
    left: 850px;
    
}